SUPABASE_URL=https://cbzopnetmczlpvhhrzxm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNiem9wbmV0bWN6bHB2aGhyenhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNTczMDMsImV4cCI6MjA4OTgzMzMwM30.PeRhbroz9AiXdn7NpSHpaij6kZI3piaCxhPkbSycyPc
